.talkresult {
  padding-bottom: 20px;
}
.talkdesc {
  padding-left: 20px;
}
body {
  background: #222222;
  color: white;
}

.dropdown-menu {
  background: #343a40 !important;
  color: white !important;
}

.cspeaker:hover {
  background: white !important;
  color: #343a40 !important;
}

.bootstrap-select .no-results {
  background: #343a40;
  color: white;
}
